.v-Group-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1024px;
  margin: 0 auto;
  &__card-mobile {
    display: none;
  }
  &__card-collect {
    width: 233px;
    margin-right: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  &__img-description-collect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    transform: translateY(0px);
  }
  &__image:hover {
    transform: translateY(3px);
    transition: transform 0.3s;
  }
  &__price-btn-collect {
    display: flex;
    justify-content: space-between;
  }
  &__btn-collect {
    min-width: 120px;
    height: 40px;
  }

  &__card {
    width: 233px;
    margin-right: 20px;
    margin-bottom: 60px;
    cursor: pointer;
  }
  &__img-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__price-btn {
    display: flex;
    justify-content: space-between;
    &:hover {
    }
  }
  &__btn {
    min-width: 120px;
    height: 40px;
    background-color: rgb(255, 240, 230);
    color: rgb(209, 87, 0);
  }
}
@media ($media-phone) {
  .v-Group-cards {
  }
}
@media ($media-laptop) {
  .v-Group-cards {
  }
}
@media (max-width: 930px) {
  .v-Group-cards {
    padding: 0px 16px;
    font-size: 12px;
    flex-direction: column;
    &__card {
      display: none;
    }
    &__card-mobile {
      display: block;
    }
    &__content {
      display: flex;
      border-bottom: 1px solid rgb(243, 243, 247);
      padding: 16px 0px;
      align-items: center;
    }
  }
}
@media ($media-desktop) {
  .v-Group-cards {
  }
}
