.v-Popular {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: center;
  // &__title {
  //   max-width: $max-container;
  // }
  &__slider {
    height: auto;
    display: flex;
    transform: translate(170px);
    transition: height 200ms ease-out 0s, opacity;
  }
  &__img {
    margin-right: 20px;
  }
  &__card {
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    border-radius: 12px;
    padding: 16px;
    margin-right: 24px;
    box-sizing: border-box;
    box-shadow: rgba(6, 5, 50, 0.2) 0px 4px 22px -6px;
    &:hover {
      cursor: pointer;
      box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 22px -6px;
      // transition: box-shadow 150ms ease-out 0s;
      transition: all 0.25s;
    }
  }
}
@media ($media-phone) {
  .v-Popular {
  }
}
@media ($media-laptop) {
  .v-Popular {
  }
}
@media ($media-desktop) {
  .v-Popular {
    display: none;
  }
}
