.v-Popular {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: center;
  &__slider {
    height: auto;
    display: flex;
    transform: translate(170px);
    transition: height 200ms ease-out 0s, opacity;
  }
  &__card {
    width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: $font-size-price-cards;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0px 4px 21px -8px rgba(0, 0, 0, 0.75);
    margin-right: 24px;
  }
}
