.slider {
  &__box {
    overflow: hidden;
  }
  &__container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    transform: translateX(0px);
  }
  &__item {
    width: 100%;
    height: 100%;
    margin-right: 26px;
    border-radius: 20px;
  }
}
@media ($media-phone) {
  .slider {
  }
}
@media ($media-laptop) {
  .slider {
  }
  .slider__container {
  }
}
@media ($media-desktop) {
  .slider {
    // display: none;
  }
}
