$max-container: 1280px;
$min-container: 960px;

$font-family: "Roboto", sans-serif;

$font-size-base: 14px;
$font-size-price-cards: 16px;
$font-size-phone-cards: 18px;
$font-size-title-cards: 20px;
$font-size-title-: 24px;

$border-radius-btn: 9999px;

$media-laptop: "min-width:1279px";
$media-desktop: "min-width:1439px";
